/* CSS Document */

body{
	font-family: "Calibri";
	margin:0;
	padding-bottom: 20px;
}

/* Nav Bar Styles */
#nav-bar-ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
	position: fixed;
	top: 0;
	left:0;
	width:100%;
}
.nav-bar-li{
    float: left;
}
.nav-bar-li > a:hover {
    background-color: #111;
}
.nav-search-form{
	float: right;
	margin-right:10px;
	margin-top: 10px;
	margin-bottom: 0px;
}
.nav-search-button{
	color: #ffffff;
	background-color: #4CAF50;
	border: 0;
	height: 25px;
	margin-left:5px;
	float:right;
}

.slider {
	/*margin-top:50px;*/
	width: 100%;
	height: 300px;
}
.slider > div > div {
	width: 33.3%;
	height: 100%;
	background: orange;
}
.event-image-thumb{
	float:left;
	width:170px;
	height:120px;
	
	padding-left: 15px;
	padding-right: 15px;
}
.nav-bar-li > a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
	font-family: "Calibri";
}

.nav-bar-wrapper{
	padding-bottom: 50px;
}

.active {
	background-color: #4CAF50;
}

/*Main-Page content styles*/
.main-content{
	padding-top:100px;
	max-width:500px;
	margin-left:auto;
	margin-right:auto;
	text-align: center;
}

#login-register-content{
    background-color: #f2f2f2;
    text-align: center;
    padding-top:50px;
    padding-bottom: 20px;
}

.login-form-table{
    margin-left:auto;
    margin-right: auto;
}

.event-select-button{
	color: #ffffff;
	background-color: #4CAF50;
	border: 0;
	height: 25px;
	margin-right:5px;
	float:right; 
	margin-top:70px;
}

.main-search-banner{
	width:100%;
	height:200px;
}

.events-wrapper{
	height:60%;
	width:100%;
	min-width:1420px;
}

.events-ul{
	list-style-type: none;
	padding-left:15px;
}

.event-li { 
	background: #f2f2f2; 
	padding-top:15px;
	height:150px;
	overflow: hidden;
}

.login-form-table td{
	vertical-align: top;
}

.event-li:hover {
	background: #cccccc;
}

.event-li:nth-child(odd):hover {
	background: #cccccc;
}

.event-li:nth-child(odd) {
	background: #e6e6e6; 
	overflow: hidden;
}

.events-list-div{
	float:left;
	width: 33%;
	min-width:470px;
	max-height: 100%;
}

.tour-content{
	width: 40%;
	margin-left:auto;
	margin-right:auto;
}

.tour-banner{
	width:100%;
	padding-bottom: 3px;
}

.tour-image-area{
	width:45%;
	padding-bottom: 3px;	
	float: left;	
}

.tour-image{
	width:100%;
	/*height:260px;*/
	padding-bottom: 3px;
}

.tour-info{	
	width:50%;
	margin-left:10px;
	padding-bottom: 3px;
	margin-right:auto;	
	float:left;
}

.search-results-wrapper{
	/*padding-top: 100;*/
	margin-left: auto;
	margin-right: auto;
	width:50%;
	text-align: center;
}

.search-results-ul{
	list-style-type: none;
	padding-left:15px;
}

.search-results-li { 
	background: #f2f2f2; 
	padding-top:15px;
	height:100px;
	overflow: hidden;
}

.search-results-li:hover {
	background: #cccccc;
}

.search-results-li:nth-child(odd):hover {
	background: #cccccc;
}

.search-results-li:nth-child(odd) {
	background: #e6e6e6; 
	overflow: hidden;
}

.user-name{
	float: right;
	margin-right: 20px;
	margin-left: 20px;
	margin-top: 10px;
	color: rgb(255, 255, 255);
}

<<<<<<< HEAD
/*--table styles--*/
table.artisttable {	border-collapse: collapse;	width: 100%;  margin-left:auto;  margin-right:auto;}
.artisttable th, .artisttable td {  text-align: left;  padding: 8px;}
.artisttable tr:nth-child(even){  background-color: #f2f2f2}
.artisttable th {  background-color: #595959;  color: white;}
/*--table styles--*/
=======
.order-history-wrapper{
	margin-left: auto;
	margin-right: auto;
	width:50%;
	text-align:left;
}

.order-history-ul{
	padding-left:0px;
	margin-top:1px;
}

.order-history-header{
	height:20px;
	background-color:#595959;
	color:#ffffff;
}

.order-history-div0{
	width:150px;
	float:left;
}

.order-history-div1{
	width:200px;
	float:left;
}

.order-history-div2{
	width:300px;
	float:left;
}

.order-history-div3{
    width:100px;
    float:left;
}

.order-history-div4{
    width:100px;
    float:left;
}

.order-li {
	background: #f2f2f2;
	padding-top:15px;
	height:30px;
	list-style-type: none;
	overflow: hidden;
}

.order-li:hover {
	background: #cccccc;
}

.order-li:nth-child(odd):hover {
	background: #cccccc;
}

.order-li:nth-child(odd) {
	background: #e6e6e6;
	overflow: hidden;
}
>>>>>>> f6c1d86dd26e04dc7a0485f4a6caea26ea5694b7

.autocomplete-suggestions { border: 1px solid #999; background: #FFF; overflow: auto; }
.autocomplete-suggestion { padding: 2px 5px; white-space: nowrap; overflow: hidden; }
.autocomplete-selected { background: #F0F0F0; }
.autocomplete-suggestions strong { font-weight: normal; color: #3399FF; }
.autocomplete-group { padding: 2px 5px; }
.autocomplete-group strong { display: block; border-bottom: 1px solid #000; }

.checkout-content {
    padding-top:100px;
    max-width:300px;
    margin-left:auto;
    margin-right:auto;
}
