<section class="slider">
    <div>
        <div><img src="images/russel-howard-tour.jpg" width="100%" height="100%"></div>
        <div onclick="location.href='peter-andre.html';" ><img src="images/PA_460x260_Newcastle1.jpg" width="100%" height="100%"></div>
        <div><img src="images/WetWetWet.jpg" width="100%" height="100%"></div>
        <div><img src="images/babymetal.jpg" width="100%" height="100%"></div>
        <div><img src="images/WeirdAlMandatory.jpg" width="100%" height="100%"></div>
        <div><img src="images/sean-lock.jpg" width="100%" height="100%"></div>
    </div>
</section>